<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

	<targets>
		<!-- Console (útil em Dev) -->
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | corr=${mdlc:item=CorrelationId} | ${logger} | ${message} ${exception:format=ToString}" />

		<!-- Arquivo diário com rotação -->
		<target xsi:type="File" name="file"
				fileName="logs/app-${shortdate}.log"
				createDirs="true"
				keepFileOpen="false"
				concurrentWrites="true"
				archiveNumbering="Date"
				layout="${longdate} | ${level:uppercase=true} | corr=${mdlc:item=CorrelationId} | ${logger} | ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Reduz ruído do framework -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="console,file" />
		<logger name="System.*"     minlevel="Warn" writeTo="console,file" />
		<!-- Sua app -->
		<logger name="*"            minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>
